body{
	font: 1em Calibri,Arial,Helvetica,sans-serif;
	width:1200px;
	margin:0;
	background: #fff;
}
rect{
	shape-rendering:crispEdges;
}

.before , .after {
	top: 10px;
	display: block;
	position: absolute;
}

.before {
	left: 16px;
}

.after{
	left: 450px;
}